/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: Bree Serif;
  font-size: 40px;
  font-weight: bold;
}

.search-image {
  height: 30px;
  width: 30px;
}
.tab-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.appitems-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
